<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Specific URl Nagivation</h1>
        <h2>Mithali Raj</h2>
        <p>India's greatest female batter, Mithali Raj, has reached milestones aplenty in her storied international career spanning more than two decades. The woman with most runs in the game, and the only Indian captain - male or female - to have led the side to two 50-over World Cup finals, the only major distinction that eludes the incumbent ODI captain is the tag of a World Cup winner</p>
        <img src="https://sportsmatik.com/uploads/world-events/players/mithali-raj_1567754819.jpg" height="300px" width="300px" alt="">
        <br>
        <br>
        <br>

        <button><a href="{% url 'app2:sindhu' %}">about sindhu</a></button>
        <button><a href="{% url 'app1:virat' %}"></a>about virat</button>
        <button><a href="{% url 'app1:msd' %}"></a>about dhoni</button>
    </center>
</body>
</html>