<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Specific Url Nagivation</h1>
        <h2>MS Dhoni</h2>
        <p>Dhoni has captained the most international matches and is the most successful Indian captain. 
            He has led India to victory in the 2011 Cricket World Cup, the 2007 ICC World Twenty20 and the 2013 ICC Champions Trophy,
             the only captain to win three different limited overs tournaments.</p>
            <img src="https://images.mykhel.com/img/2024/03/ms-dhoni-csk-ipl-s-1709563712.jpg" height="300px" width="300px">
            <br>
            <br>
            <br>                         
            <button><a href="{% url 'app1:virat' %}"></a>about virat</button></button>
            <button><a href="{% url 'app2:mithaliraj' %}">about mithaliraj</a></button>
            <button><a href="{% url 'app2:sindhu' %}">about sindhu</a></button>

               
             
    </center>
</body>
</html>