<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Specific Url Nagivation</h1>
        <h2>PV Sindhu</h2>
        <p>Pusarla Venkata Sindhu, known as PV Sindhu, is an Indian professional badminton player and the first Indian woman to win an Olympic silver medal.Though her parents played professional volleyball, she chose badminton over it because she drew inspiration from the success of Pullela Gopichand, the 2001 All England Open Badminton Champion. She eventually started playing badminton from the age of eight.
        </p>
        <img src="https://cloudfront-us-east-2.images.arcpublishing.com/reuters/7LYRCDKUVRPM3E34DUV7VUNMXU.jpg" height="300px" width="300px" alt="">
        <br>
        <br>
        <br>
        <button><a href="{% url 'app2:mithaliraj' %}">about mithaliraj</a></button>
        <button><a href="{% url 'app1:virat' %}"></a>about virat</button></button>
        <button><a href="{% url 'app1:msd' %}"></a>about dhoni</button>
    </center>
</body>
</html>